body {
  background: #ffe6ea;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  font-size: 1.2rem;
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #adb5bd;
}
